<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hotspots - Player V7</title>
  <script src="https://cdnapisec.kaltura.com/p/2052371/embedPlaykitJs/uiconf_id/43248661"></script>
  <script async src="/bundle.js" id="bundle"></script>
</head>
<body>
<h1>Hotspots - Player V7</h1>
<div id="player-div" style="width: 640px; height: 360px;"></div>

<script>
  var config = {
    logLevel: "DEBUG",
    targetId: "player-div",
    provider: {
      partnerId: "2052371"
    },
    plugins: {
      hotspots: {
      }
    }
  };
  document.getElementById("bundle").onload =  function(){
    KalturaPlayer.core.registerPlugin("hotspots", HotspotsPlugin);

    var mediaInfo = {entryId: "1_4gs7ozgq"};
    var player = KalturaPlayer.setup(config);
    player.loadMedia(mediaInfo).then(function() {
      player.play();
    });
  }
</script>
</body>
</html>
