<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotspots - Player V2</title>

  <script src="https://cdnapisec.kaltura.com/p/2052371/sp/205237100/embedIframeJs/uiconf_id/39149581/partner_id/2052371"></script>
</head>

<body>
  <h1>Hotspots - Player V2</h1>
  <div id="kaltura_player_1545049605" style="width: 500px; height: 281px;"></div>
  <script>
    kWidget.embed({
      "targetId": "kaltura_player_1545049605",
      "wid": "_2052371",
      "uiconf_id": 39149581,
      "flashvars": {
        ks: 'djJ8MjA1MjM3MXzieV9LHJ6D1AsbjyLsZIu398D3cGGo9N2OwSDI1B3MbHHhAmlbeI3byI-SLWvHFcFGX4Yr6EurpjXS6AazZGdyxXmLJIIb2rzweKgvfHK-NvAgZIh1c0nT4hpzgWWpOSdJ9MrbbNEV3SQvrdGRwwkL',
        hotspots: {
          plugin: true,
          iframeHTML5Js: '/bundle.js',
        },
      },
      "cache_st": 1545049605,
      "entry_id": "1_4gs7ozgq"
    });
  </script>
</body>

</html>
